" this is a file used by the inverse search
*.synctex.gz

*.bbl
*.blg
*.toc

*.aux
*.log
*.out
*.pdf

" catch-it-all for temporary files:
*~
" *.bib~
" *.cls~
" *.lyx~
" *.sty~
" *.tex~

*.backup
*.kate-swp
" Kile's project file
*.kilepr

everything_else/
" separate project for small changes and tweaks - complies faster
tryout.tex
