" this is a file used by the inverse search
*.synctex.gz

*.bbl
*.blg
" list of figures temporary file
*.lof
*.toc

*.aux
*.log
*.out
"*.pdf
" only the output project files
segmentation_scores_formulas.pdf
Thesis.pdf
tryout.pdf

" catch-it-all for temporary files:
*~
" *.bib~
" *.cls~
" *.lyx~
" *.sty~
" *.tex~

*.backup
*.kate-swp
" Kile's project file
*.kilepr

everything_else/
" separate project for small changes and tweaks - complies faster
tryout.tex
